<div class="chat-icon" [ngClass]="{'d-none': !popupHide}" (click)="popupHide = !popupHide">
    <img src="assets/images/chatbot.jpg" alt="chat-icon">
</div>



<div class="chat-popup" [ngClass]="{'d-none': popupHide}">
    <div class="chat-header">
        <img src="assets/images/chat-msg.png">
        <div>
            <b class="chat-title">Ask Lila</b>
            <div class="chat-info">Hi ! <span>How can we help you?</span></div>
        </div>
        <div>
            <i class="fa fa-volume-up me-2"></i>
            <i class="fa fa-times c-pointer" (click)="popupHide = !popupHide;startConv = false"></i>
        </div>
    </div>
    <div class="chat-content-box">
        <div class="chat-content">
            <div [ngClass]="{'d-none':!startConv}">
                <div class="badge rounded-pill bg-light text-dark border">What you want as about SGRI?</div>
                <div class="badge rounded-pill bg-primary">What you want as about SGRI?</div>
                <div class="badge rounded-pill bg-primary">Update about company</div>
                <div class="badge rounded-pill bg-primary">Update about company</div>
            </div>
            <p>Hi Jeevanandham. Good Morning!
                <br>
                I'm Lia, I can help you with your queries related to <br>
                SGRI & Employee policies
            </p>
        </div>
        <div class="w-100">
            <div class="type-box" *ngIf="startConv;else elseBlock">
                <i class="fa fa-microphone" aria-hidden="true"></i>
                <input type="text" placeholder="Type query here ..." class="form-control">
                <img src="assets/images/telegram.png" width="20px">
            </div>
            <ng-template #elseBlock>
                <div class="btn start-btn" (click)="startConv = !startConv">
                    <img src="assets/images/telegram.png" width="20px">
                    Start Conversation
                </div>
            </ng-template>

        </div>
        <div class="footer">
            Powered By <span>SGRI DA & IT</span>
        </div>
    </div>
</div>